{% extends "navbar.html" %}
{% block content %}
<form method="POST" >
			{{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search by username/carnumber</legend>
                
                <div class="form-group">
                    {{ form.search.label(class_="form-control-label col-form-label")  }}:
                    {{form.search(class = "form-control form-control-md")}}
                </div>
                
              
                </fieldset>
            
            <div class="form-group">
                {{ form.submit(class_="btn btn-outline-info") }}
            </div>
        </form>
       

    {% for booking in bookings %}
        <article class="media content-section">
          <div class="media-body" id="keep-left">
            <h2 class="article-title" >{{ booking.booking_id }}</a></h2>
            <h2 class="article-title" >{{ booking.user }}</a></h2>
            <div class="article-metadata">
              <div class="mr-2" >CAR NUMBER:{{ booking.carnumber }}</div>
              <div class="mr-2">START DATE: {{ booking.start_date }}</div>
              <div class="mr-2">END DATE: {{ booking.end_date }}</div>
            </div>
            <div class="article-content">START LOCATION: {{ booking.start_location }}</div>
            <div class="article-content">END LOCATION: {{ booking.end_location }}</div>
            <br>
            <br>
            <div class="article-content">NUMBER OF DAYS: {{ booking.number_of_days }}</div>
            <div class="article-content">TOTAL COST: {{ booking.cost }}AUD</div>
            <br>
          </div>
          <div id="keep-right">
          <img class="article-img" src=" {{ url_for('capi.getCarForBooking', carnumber=booking.carnumber) }} " style="width:300px;height:300px;">
          </div>
        </article>
    {% endfor %}
{% endblock content %}
