{% extends "engineer_navbar.html" %}
{% block content %}
    {% if issues.length==0 %}
    <h2> No jobs completed yet </h2>
    {% else %}
    {% for issue in issues %}
        <article class="media content-section">
          <div class="media-body" id="keep-left">
            <div class="article-metadata">
              <div class="mr-2" >CAR NUMBER:{{ issue.carnumber }}</div>
              <div class="mr-2">REPORTED ON: {{ issue.reportedOn }}</div>
            </div>
            <p class="article-content">CLOSED ON: {{ issue.closedOn }}</p>
            <div class="article-content">REPORTED BY: {{ issue.reportedBy }}</div>
          </div>
          <div id="keep-right">
          </div>
        </article>
    {% endfor %}
    {% endif %}
{% endblock content %}
