{% extends "navbar.html" %}
{% block content %}
    <form method="POST" >
			{{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Filters</legend>
                
                <div class="form-group">
                    {{ form.search.label(class_="form-control-label col-form-label")  }}:
                    {{form.search(class = "form-control form-control-md")}}
                </div>
                
                <div class="form-group unstyled">

                    {{form.available(class = "space form-check-input form-check-inline unstyled")}}
                </div>
                <br>
                <br>
                
                <div class="form-group">
                    {{ form.cost_below.label(class_="form-control-label col-form-label")  }}:
                    {{form.cost_below(class = "form-control form-control-md")}}
                </div>
                
                <div class="form-group unstyled">

                    {{form.body(class = "space form-check-input form-check-inline unstyled")}}
                </div>
                <br>
                <br>
                </fieldset>
            
            <div class="form-group">
                {{ form.submit(class_="btn btn-outline-info") }}
            </div>
        </form>
                
    {% for car in cars %}
        <article class="media content-section">
          <div class="media-body" id="keep-left">
            <h2 class="article-title" ><a href="{{ url_for('capi.getCarByName', carnumber = car.carnumber, user = user) }}">{{ car.model }}</a></h2>
            <div class="article-metadata">
              <div class="mr-2" >CAR NUMBER:{{ car.carnumber }}</div>
              <div class="mr-2">COLOR: {{ car.color }}</div>
            </div>
            <p class="article-content">FEATURES: {{ car.feature }}</p>
            <div class="article-content">COST: {{ car.cost_per_hour }}AUD/day</div>
            <div class="article-content">LOCATION: {{ car.location }}</div>
            <br>
            <div class="article-content">SEATING CAPACITY: {{ car.seats }}</div>
            <div class="article-content">TYPE: {{ car.body_type }}</div>
          </div>
          <div id="keep-right">
          <img class="article-img" src="{{ car.photo }}" style="width:300px;height:300px;">
          </div>
        </article>
    {% endfor %}
{% endblock content %}
